apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: "secret"
spec:
  secretStoreRef:
    name: aws-secretsmanager
    kind: ClusterSecretStore
  refreshInterval: 1m
  target:
    name: dev2
  dataFrom:
  - extract:
      key: dev2